// =======================
// Table of contents------
// 0. Global
// 1. Navigation
// 2. Parrelex 
// 3. Description
// 4. History
// =======================

// =======================
// Global
// =======================
$text-color: #ffffff
$dark-bg: #0000

*
    margin: 0
    padding: 0

body
    color: $text-color
    overflow: hidden

@mixin centerText
    text-align: center
    color: white
    
@for $i from 1 through 4 
    .F-#{$i} 
        font-size: 3rem * $i
        
// =======================
// Navigation
// =======================

// =======================
// Parrelex
// =======================
.parkName
    @include centerText
    margin-top: 10rem

// =======================
// Description
// =======================

// =======================
// History
// =======================
