* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.F-1 {
  font-size: 2.5vw;
}

.F-2 {
  font-size: 5vw;
}

.F-3 {
  font-size: 7.5vw;
}

.F-4 {
  font-size: 10vw;
}

.N-1 {
  font-size: 1rem;
}

.N-2 {
  font-size: 2rem;
}

.N-3 {
  font-size: 3rem;
}

.N-4 {
  font-size: 4rem;
}

.parkName {
  margin-top: 10rem;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15%;
}

.centerRightCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40%;
}

.centerStart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 5%;
}

.heading {
  text-align: center;
  color: white;
}

.cardText {
  text-align: center;
  color: white;
  background-color: #425256;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 5% 0 5%;
}

.centerClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weatherH1 {
  color: black;
}

.pastPicture {
  max-width: 60%;
  max-height: 20%;
}

.cardTopoLong {
  width: 18rem;
}

.cardTopoStub {
  width: 40rem;
}

@media only screen and (max-width: 792px) {
  .pastPicture {
    max-width: 90%;
    max-height: 20%;
  }
  .cardTopoLong {
    width: 45%;
  }
  .cardTopoStub {
    width: 40%;
  }
  .centerRightCard {
    margin-left: 55%;
  }
}

.singlePost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.commentBox {
  margin-left: 10px;
}

.commentHeader {
  text-align: center;
  color: white;
  padding-top: 15px;
  width: 100%;
}

.editPostBtn {
  padding-top: 10px;
}

.commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.commentBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.postsHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.postPageCont {
  background-color: #30424D;
  height: 100vh;
}

.postsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.imgSize {
  aspect-ratio: auto;
  width: 80%;
}

.whiteText {
  color: white;
}
/*# sourceMappingURL=App.css.map */