// =======================
// Table of contents------
// 0. Global
// 1. Navigation
// 2. Parrelex 
// 3. Description
// 4. History
// =======================

// =======================
// Global
// =======================

// Variables
$text-color: #ffffff
$dark-bg: #0000
// reset default margin and padding
*
    margin: 0
    padding: 0
// sets text color to white by default
body
   color: $text-color

// =======================
// Navigation
// =======================

// =======================
// Parrelex
// =======================
    
// =======================
// Description
// =======================

// =======================
// History
// =======================
