// =======================
// Table of contents------
// 0. Global
// 1. Navigation
// 2. Parrelex 
// 3. Description
// 4. History
// =======================

// =======================
// Global
// =======================
$text-color: #ffffff
$dark-bg: #162529
$light-bg: #425256
$light-text: #C0FAFF
$orange-text: #FB9038
$tan-text: #FFE9CF
$colors: $dark-bg,$light-bg,$light-text,$orange-text,$tan-text

*
    margin: 0
    padding: 0

body
    overflow: hidden

@mixin centerText
    text-align: center
    color: white

@mixin centerDiv
    display: flex
    align-content: center

@for $i from 1 through 4
    .F-#{$i}
        font-size: 2.5vw * $i
@mixin flexALNC
    display: flex
    align-items: center

// =======================
// Navigation
// =======================

// =======================
// Parrelex
// =======================
.parkName
    margin-top: 10rem

.center
    @include flexALNC
    justify-content: center

.centerLeft
    display: flex
    justify-content: center

.centerRight
    @include flexALNC
    margin-right: 15% 
.centerRightCard
    @include flexALNC
    margin-left: 40% 

.centerStart
    @include flexALNC
    justify-content: flex-start
    margin-left: 5% 

.heading
    @include centerText

.cardText
    @include centerText
    background-color: $light-bg
    padding: 1rem
    border-radius: 10px
    margin: 0 5% 0 5%

.centerClass
    @include centerDiv
    justify-content: center

.weatherH1
    color: black

.pastPicture
    max-width: 60%
    max-height: 20%

.cardTopoLong
    width: 18rem
.cardTopoStub
    width: 25rem
@media only screen and (max-width: 792px)
    .pastPicture
        max-width: 90%
        max-height: 20%
    .cardTopoLong
        width: 45%
    .cardTopoStub
        width: 40%
    .centerRightCard
        margin-left: 55% 


// =======================
// Description
// =======================

// =======================
// History
// =======================
