body {
    background-color: #30424D;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }
.card {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    margin-top: 200px;
    
}

.weatherImg {
    height: 50px;
    width: 50px;
}

.Wcontainer{
    display: flex;
}
