.wrapper {
    display: flex;
    flex-wrap: wrap;
}
.cardBody {
    display: flex;
    flex-wrap: wrap;
    
}
/* @media only screen and(max-width:792px) 
{
    flex-direction: column;
} */

.weatherImg {
    height: 50px;
    width: 50px;
}

.Wcontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 150px;
    background-color: lightgray;

}
