.posth1 {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    
}

.postList {
    list-style: none;
    font-size: 1vw;
    border: 3px solid beige ;
    padding: 10px;
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    
}

.addBtn {
    float: right;
    background: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    
}