.posth1 {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    
}

.addBtn {
    float: right;
    background: grey;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    
}